@font-face {
	font-family: "iconfont";
	src: url("iconfont.eot?761d1d1578d1ff395be4a72ee5e82e19?#iefix") format("embedded-opentype"),
url("iconfont.woff2?761d1d1578d1ff395be4a72ee5e82e19") format("woff2"),
url("iconfont.woff?761d1d1578d1ff395be4a72ee5e82e19") format("woff");
}

.icon {
	line-height: 1;
}

.icon:before {
	font-family: iconfont !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon-account:before {
	content: "\f101";
}
.icon-agent:before {
	content: "\f102";
}
.icon-arrow:before {
	content: "\f103";
}
.icon-arrows-left-right:before {
	content: "\f104";
}
.icon-bag-return:before {
	content: "\f105";
}
.icon-box-open:before {
	content: "\f106";
}
.icon-cart:before {
	content: "\f107";
}
.icon-cell-phone:before {
	content: "\f108";
}
.icon-chat-v2:before {
	content: "\f109";
}
.icon-chat:before {
	content: "\f10a";
}
.icon-checkmark-v2:before {
	content: "\f10b";
}
.icon-checkmark:before {
	content: "\f10c";
}
.icon-chevron-left:before {
	content: "\f10d";
}
.icon-chevron-right:before {
	content: "\f10e";
}
.icon-chevron:before {
	content: "\f10f";
}
.icon-clock:before {
	content: "\f110";
}
.icon-dollar-sign:before {
	content: "\f111";
}
.icon-down-arrow:before {
	content: "\f112";
}
.icon-dvr:before {
	content: "\f113";
}
.icon-external-link:before {
	content: "\f114";
}
.icon-facebook:before {
	content: "\f115";
}
.icon-gear:before {
	content: "\f116";
}
.icon-gift:before {
	content: "\f117";
}
.icon-google-plus:before {
	content: "\f118";
}
.icon-grid:before {
	content: "\f119";
}
.icon-house-v2:before {
	content: "\f11a";
}
.icon-house:before {
	content: "\f11b";
}
.icon-info-2:before {
	content: "\f11c";
}
.icon-info:before {
	content: "\f11d";
}
.icon-left-arrow:before {
	content: "\f11e";
}
.icon-location-v2:before {
	content: "\f11f";
}
.icon-location:before {
	content: "\f120";
}
.icon-menu:before {
	content: "\f121";
}
.icon-minus-v2:before {
	content: "\f122";
}
.icon-minus:before {
	content: "\f123";
}
.icon-modem-router:before {
	content: "\f124";
}
.icon-money-tag:before {
	content: "\f125";
}
.icon-movie:before {
	content: "\f126";
}
.icon-online-tag:before {
	content: "\f127";
}
.icon-phone-outline:before {
	content: "\f128";
}
.icon-phone:before {
	content: "\f129";
}
.icon-play-button:before {
	content: "\f12a";
}
.icon-plus-v2:before {
	content: "\f12b";
}
.icon-plus:before {
	content: "\f12c";
}
.icon-question:before {
	content: "\f12d";
}
.icon-retail:before {
	content: "\f12e";
}
.icon-right-arrow:before {
	content: "\f12f";
}
.icon-scroll-down-arrow:before {
	content: "\f130";
}
.icon-search:before {
	content: "\f131";
}
.icon-shopping:before {
	content: "\f132";
}
.icon-silhouette:before {
	content: "\f133";
}
.icon-speed-gauge:before {
	content: "\f134";
}
.icon-star-v2:before {
	content: "\f135";
}
.icon-star:before {
	content: "\f136";
}
.icon-timer:before {
	content: "\f137";
}
.icon-tv-v2:before {
	content: "\f138";
}
.icon-tv:before {
	content: "\f139";
}
.icon-twitter:before {
	content: "\f13a";
}
.icon-two-speech-bubbles-question:before {
	content: "\f13b";
}
.icon-two-speech-bubbles:before {
	content: "\f13c";
}
.icon-user-account:before {
	content: "\f13d";
}
.icon-v2:before {
	content: "\f13e";
}
.icon-video-play:before {
	content: "\f13f";
}
.icon-warning-speech-bubble:before {
	content: "\f140";
}
.icon-wifi:before {
	content: "\f141";
}
.icon-wire-globe:before {
	content: "\f142";
}
.icon-x-v2:before {
	content: "\f143";
}
.icon-x:before {
	content: "\f144";
}
.icon-youtube:before {
	content: "\f145";
}
