<section class="hero hero-parallax">
    <div class="hero-parallax__background" data-parallax="scroll" data-image-src="{{ .Params.heroImage }}">
        <div class="grid-container">
            <div class="grid-y" style="height: 100vh">
                <div class="cell auto"></div>
                <div class="cell shrink">
                    <h3>{{ .Params.heroTag }}</h3>
                    <h1>{{ .Params.heroTitle }}</h1>
                    <h2>{{ .Params.heroParagraph }}</h2>
                </div>
            </div>
        </div>
    </div>
</section>
