<div class="blog">
    <div class="grid-container">
        <div class="grid-x grid-padding-x align-center-middle text-center">
            {{ range ( first 3 ( where .Site.Pages.Reverse "Section" "blog" ) ) }}
                <div class="cell small-4">
                    <div class="blog__item">
                        <a href="{{ .Permalink }}">
                            <img class="blog__image" src="{{ .Params.image }}">
                            <div class="blog__content">
                                <h3>{{ .Params.title }}</h3>
                                <p class="blog__link">Read More</p>
                            </div>
                        </a>
                    </div>
                </div>
            {{ end }}
        </div>

        <div class="small-12 columns">
            <a class="btn btn-inverse" href="/blog/">View Blog Posts</a>
        </div>

    </div>
</div>