<div id="blog-sticky" class="blog-sidebar-desktop" style="position: relative; top: 11%; width: 100%;">
    <h6>FILTER BY:</h6>

    <ul class="responsive-accordion">
        <li class="inner-template-desktop-sidebar">
            <div class="responsive-accordion-head accordion-default active">
                <p><span><i>plus</i></span></p>
                <h3 class="sidebar_header">View By Tag</h3>
            </div>

            <div class="link-cnt responsive-accordion-panel accordion-default" style="display: none;">
                {{ if isset .Site.Taxonomies "tags" }}
                    {{ if not (eq (len .Site.Taxonomies.tags) 0) }}
                        {{ range $name, $items := .Site.Taxonomies.tags }}
                            <a href="{{ "categories/" | relLangURL }}{{ $name | urlize | lower }}">{{ $name | title }}</a>
                        {{ end }}
                    {{ end }}
                {{ end }}
            </div>
        </li>

        <li class="inner-template-desktop-sidebar">
            <div class="responsive-accordion-head accordion-default active">
                <p><span><i>plus</i></span></p>
                <h3 class="sidebar_header">View By Category</h3>
            </div>

            <div class="link-cnt responsive-accordion-panel accordion-default" style="display: none;">
            {{ if isset .Site.Taxonomies "categories" }}
                {{- if not (eq (len .Site.Taxonomies.categories) 0) }}
                    {{ range $name, $items := .Site.Taxonomies.categories }}
                        <a class="smartCategory" href="{{ "categories/" | relLangURL }}{{ $name | urlize | lower }}">{{ $name | title }}</a>
                    {{ end }}
                {{ end }}
            {{ end }}
            </div>
        </li>

        <select class="inner-template-mobile-sidebar" onchange="document.location = this.value">
            <option value="#">Search By Category</option>
            <option value="?category=Traveling">Traveling</option>
            <option value="?category=Development">Development</option>
        </select>
    </ul>

    <div class="social-media">
        <h6>Share:</h6>
        <div id="share"></div>
    </div>
</div>