<header class="header">
    <div class="row column">
        <a class="header__hamburger  js-hamburger-icon" href="javascript:void(0);">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
</header>

<nav class="navigation  js-navigation-overlay">
    <ul class="menu-list row show-for-large-up">

        <li>
            <a href="/">
                <h2>Home</h2>
            </a>
        </li>

        <li>
            <a href="/experience/">
                <h2>Experience</h2>
            </a>
        </li>

        <li>
            <a href="/blog/">
                <h2>Blog</h2>
            </a>
        </li>

        <li>
            <a href="/contact/">
                <h2>Contact</h2>
            </a>
        </li>
    </ul>
</nav>