<header class="header mm-slideout">
    <a id="top"></a>

    <div class="row">
        <div class="small-12 columns">

            <div class="header-container">
                <a href="/" class="logo">
                    <!-- Mobile Logo -->
                    <div class="mobile-logo">
                        <img src="/images/logo/front-end-developer-mobile.svg" alt="Mygelb - Front End developer"/>
                    </div>

                    <!-- Desktop Logo -->
                    <div class="desktop-logo">
                        <img src="/images/logo/front-end-developer.svg" alt="Mygelb - Front End developer"/>
                    </div>
                </a>

                <a id="nav-toggle" href="#menu-mobile">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>

                <nav id="desktop-menu">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about/">About</a></li>
                        <li><a href="/experience/">Experience</a></li>
                        <li><a href="/blog/">Blog</a></li>
                        <li><a href="/contact/">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>