<header class="header">

    <a href="javascript:void(0);" id="top"></a>

    <div class="row column">
        <a href="/" class="header__logo">
            <img src="/images/logo/front-end-developer.svg" alt="Mygelb - Front End developer"/>
        </a>

        <a class="header__hamburger  js-hamburger-icon" href="javascript:void(0);">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
</header>

<nav class="navigation overlay  js-navigation-overlay">
    <ul class="menu-list row show-for-large-up">

        <li>
            <a href="/experience/">
                <h2>Experience</h2>
            </a>
        </li>

        <li>
            <a href="/about/">
                <h2>About</h2>
            </a>
        </li>

        <li>
            <a href="/blog/">
                <h2>Blog</h2>
            </a>
        </li>

        <li>
            <a href="/contact/">
                <h2>Contact</h2>
            </a>
        </li>
    </ul>
</nav>