<nav class="main-navigation  js-navigation" role="navigation">
	<div class="grid-y align-center-middle" style="height: 100vh">

		<ul class="main-navigation__link">
			<li><a title="Red-Ventures" href="/red-ventures/" class="">Red Ventures</a></li>
			<li><a title="Efelle Creative" href="/efelle-creative/" class="">Efelle Creative</a></li>
			<li><a title="Observations" href="/blog/" class="">Observations</a></li>
			<li><a title="Blog" href="/contact/" class="">Get In Touch</a></li>
		</ul>

		<ul class="main-navigation__contact">
			<li>704-223-3694</li>
			<li>Mygel@Bergstresser.email</li>
		</ul>

		<ul class="main-navigation__social grid-x">
			<li><a class="icon-linkedin" href="https://www.linkedin.com/in/mygel-bergstresser" target="_blank"></a></li>
			<li><a class="icon-github" href="https://github.com/legym" target="_blank"></a></li>
			<li><a class="icon-facebook" href="https://www.facebook.com/MygelBergstresser" target="_blank"></a></li>
			<li><a class="icon-instagram" href="https://www.instagram.com/mygel_bergstresser/" target="_blank"></a></li>
		</ul>
	</div>
</nav>