.subpage-about {

    .about-image-mobile {
        display: block;

        @include breakpoint(medium) {
            display: none;
        }

        h6 {
            color: #fff;
            font-size: 1.8em;
            padding: 0;
            text-align: right;

            @include breakpoint(medium) {
                font-size: 2.2em;
            }
        }

        p {
            margin-top: 10px;
        }
    }

    .about-image {
        display: none;

        @include breakpoint(medium) {
            display: inline-block;
            vertical-align: top;
            width: 50%;
        }
    }

    .about-intro {
        display: none;

        @include breakpoint(medium) {
            display: inline-block;
            margin-left: -5px;
            vertical-align: top;
            width: 50%;
        }

        .intro-container {

            @include breakpoint(medium) {
                margin-left: 100px;
                width: 50%;
            }

            @include breakpoint(large) {
                margin-left: 150px;
            }

            h2 {
                color: #000;
                font-size: 1.6em;
                letter-spacing: 0;
                line-height: 36px;
                margin: 0 10px 10px;
                margin-bottom: 10px;
                text-align: left;
                text-shadow: none;

                @include breakpoint(medium) {
                    font-size: 2.75em;
                    line-height: 55px;
                    margin: 0 auto;
                }

                @include breakpoint(large) {
                    font-size: 3.75em;
                    line-height: 70px;
                    margin: 0 auto;
                }
            }

            p {
                color: #000;
                font-family: 'Lato';
                line-height: 1.4em;
                margin: 0 14px;
                margin-top: 10px;
                text-align: left;

                @include breakpoint(medium) {
                    line-height: 1.6em;
                    margin: 0 auto;
                    margin-left: 0;
                    margin-top: 10px;
                    width: 80%;
                }
            }
        }
    }

    .about-experience {
        background-color: #d4d4d4;
        height: 100%;
        width: 100%;

        @include breakpoint(medium) {
            padding: 50px 0;
        }

        @include breakpoint(large) {
            background-image: url('/images/about/about-experience.jpg');
            background-position: right;
            background-size: cover;
            padding: 100px 0;
        }

        .btn-resume {
            background: #fff;
            color: #000;
            margin-top: 10px;

            @include breakpoint(medium) {
                width: 49%;
            }
        }

        h6 {
            font-size: 2rem;
            letter-spacing: 0;
            margin-top: 40px;
            text-align: left;
            text-shadow: 7px 3px 4px #d4d4d4;

            @include breakpoint(medium) {
                font-size: 2em;
                margin: 25px 0;
                margin-bottom: 25px;
                margin-top: 0;
                text-align: left;
            }

            @include breakpoint(large) {
                margin: 30px 0 5px;
            }

        }
    }

    .about-process {
        text-align: center;

        ul.qualifications {
            margin-top: 30px;
            position: relative;
            text-align: left;

            @include breakpoint(medium) {
                margin: 0;
                margin-top: 30px;
            }

            &:before {
                background-color: #8a8a8a;
                content: '';
                height: 1px;
                margin: 0 auto;
                position: absolute;
                top: -30px;
                width: 90%;
            }

            li {
                color: $primary-color;
                margin-bottom: 20px;

                @include breakpoint(medium) {
                    margin-bottom: 10px;
                }

                h4 {
                    font-size: 22px;
                    line-height: 1.2em;
                    margin-bottom: .5rem;

                    @include breakpoint(medium) {
                        font-size: 1.1em;
                        line-height: 1em;
                    }
                }
            }
        }

        .service-style {
            background-color: #fff;
            box-shadow: 7px 3px 4px #111;
            margin-bottom: 40px;
            padding: 20px 10px 16px;
        }

        .parallax-window {
            padding: 75px 0;
        }

        h2 {
            color: #fff;
            text-shadow: 7px 3px 4px #000;
        }

        h4 {
            color: #fff;
            font-size: 1.6em;
            margin-bottom: 40px;
        }

        .fa {
            color: $primary-color;
            font-size: 3.4em;
            transition: .3s ease-in;
        }

        h6 {
            color: #111;
            font-size: 1.2em;
            margin-bottom: 5px;
            margin-top: 15px;
            text-shadow: 7px 3px 4px #d4d4d4;
        }

        span {
            color: $primary-color;
            text-decoration: underline;
        }
    }

    .about-tools {
        background-image: url('../graphics/about/about-tech.jpg');
        background-position: 50%;
        background-size: cover;
        height: 100%;
        padding: 100px 0;
        width: 100%;

        h2 {
            letter-spacing: 0;
            margin: 40px 0;
            text-transform: uppercase;
        }

        ul {
            margin: 0;
            padding: 0;
        }

        li {
            display: inline-block;
        }

        .tools-fundamentals {
            text-align: center;

            li {
                margin: 0 20px;
            }
        }

        .did-i-know {
            margin-top: 70px;

            h4 {
                font-size: 2em;
                margin-bottom: 20px;
                text-align: center;
            }

            ul {
                column-count: 2;
            }

            li {
                display: inherit;
                margin: 0 30px;
            }
        }
    }

    .geolocation {
        height: 400px;
        position: relative;

        @include breakpoint(medium) {
            height: 600px;
        }

        #map {
            height: 100%;
            top: 0;
            width: 100%;
        }

        .map-cover {
            cursor: pointer;
            height: 100%;
            position: absolute;
            width: 100%;
            z-index: 2;
        }

        h2 {
            display: inline-block;
            font-size: 2.2em;
            left: 0;
            margin: 0 auto;
            position: absolute;
            right: 0;
            text-align: center;
            text-decoration: underline;
            text-shadow: 7px 3px 4px #d4d4d4;
            text-transform: uppercase;
            top: 20px;
            z-index: 3;

            @include breakpoint(medium) {
                font-size: 4em;
                padding: 20px 60px;
            }
        }
    }

    .instagram-background {
        background-position: center bottom;
        background-size: cover;
        padding-top: 30px;

        @include breakpoint(medium) {
            padding: 60px 0;
        }

        .top-title {
            margin-bottom: 20px;

            @include breakpoint(medium) {
                margin-bottom: 40px;
            }

            h3 {
                display: block;

                &:nth-of-type(1) {
                    font-size: 32px;
                    text-align: center;

                    @include breakpoint(medium) {
                        float: left;
                        text-align: left;
                    }
                }

                &:nth-of-type(2) {
                    display: none;

                    @include breakpoint(medium) {
                        display: block;
                        text-align: right;
                        vertical-align: top;
                    }
                }
            }
        }

        .instagram-section {

            .ttl {
                margin: 0 auto 30px;
                overflow: hidden;
                width: 90%;

                h3,
                h2 {
                    color: #000;
                    display: inline-block;
                }

                h3 {
                    float: left;
                    font-size: 29px;
                    letter-spacing: .1em;
                    line-height: 1.7;
                    margin-top: 10px;
                    text-transform: uppercase;
                    word-spacing: .1em;
                }

                h2 {
                    float: right;
                    margin-top: 10px;

                    em {
                        color: inherit;
                        font-size: 1.2em;
                        letter-spacing: .9em;
                        word-spacing: .1em;
                    }
                }
            }

            .instagram-slide {
                margin: 0 auto;
                width: 75%;

                @include breakpoint(small) {
                    width: 90%;
                }

                .slick-arrow {
                    background-color: transparent;
                    border: 0;
                    overflow: hidden;
                    padding: 0;
                    position: absolute;
                    top: 75px;
                    width: 34px;

                    &:before {
                        color: #000;
                        font-size: 60px;
                    }
                }

                .slick-arrow:first-of-type {
                    left: -23px;

                    @include breakpoint(medium) {
                        left: -40px;
                    }

                    @include breakpoint(large) {
                        left: -55px;
                    }
                }

                .slick-arrow:nth-of-type(2) {
                    right: -23px;

                    @include breakpoint(medium) {
                        right: -40px;
                    }

                    @include breakpoint(large) {
                        right: -55px;
                    }
                }

                .slick-track {
                    width: 100%;

                    .instagram-img {
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        height: 185px;
                        margin: 0 15px;
                    }
                }
            }
        }
    }
}