.subpage-about {

    .about-image-mobile {
        display: block;

        @include breakpoint(medium) {
            display: none;
        }

        h6 {
            font-size: 1.8em;
            color: #fff;
            padding: inherit;
            text-align: right;

            @include breakpoint(medium) {
                font-size: 2.2em;
            }
        }

        p {
            margin-top: 10px;
        }
    }

    .about-image {
        display: none;

        @include breakpoint(medium) {
            display: block;
            width: 50%; 
            display: inline-block; 
            vertical-align: top;
        }
    }

    .about-intro {
        display: none;

        @include breakpoint(medium) {
            display: block;
            width: 50%; 
            display: inline-block; 
            vertical-align: top; 
            margin-left: -5px;
        }

        .intro-container {

            @include breakpoint(medium) {
                width: 50%;
                margin-left: 100px;
            }

            @include breakpoint(large) {
                margin-left: 150px;
            }

            h2 {
                color: black;
                text-shadow: none;
                letter-spacing: 0;
                text-align: left;
                margin: 0 10px 10px;
                line-height: 36px;
                margin-bottom: 10px;
                font-size: 1.6em;

                @include breakpoint(medium) {
                    margin: 0 auto;
                    line-height: 55px;
                    font-size: 2.75em;
                }

                @include breakpoint(large) {
                    margin: 0 auto;
                    line-height: 70px;
                    font-size: 3.75em;
                }
            }

            p {
                font-family: 'Lato';
                line-height: 1.4em;
                color: black;
                margin: 0 14px;
                text-align: left;
                margin-top: 10px;

                @include breakpoint(medium) { 
                    line-height: 1.6em;
                    margin: 0 auto;
                    margin-top: 10px;
                    width: 80%;
                    margin-left: 0;
                }
            }
        }
    }

    .about-experience {
        background-color: #d4d4d4;
        width: 100%;
        height: 100%;

        @include breakpoint(medium) {
            padding: 50px 0;
        }

        @include breakpoint(large) {
            background-position: right;
            background-image: url('/images/about/about-experience.jpg');
            background-size: cover;
            padding: 100px 0;
        }

        .btn-resume {
            background: white;
            color: black;
            margin-top: 10px;

            @include breakpoint(medium) {
                width: 49%;
            }
        }

        h6 {
            margin-top: 40px;
            font-size: 2rem;
            letter-spacing: 0;
            text-shadow: 7px 3px 4px #d4d4d4;
            text-align: left;

            @include breakpoint(medium) {
                text-align: left;
                margin: 25px 0;
                margin-top: 0;
                font-size: 2em;
                margin-bottom: 25px;
            }

            @include breakpoint(large) {
                margin: 30px 0 5px 0;
            }

        }
    }

    .about-process {
        text-align: center;

        ul.qualifications {            
            text-align: left;
            margin-top: 30px;
            position: relative;

            @include breakpoint(medium) {
                margin: 0;
                margin-top: 30px;
            }

            &:before {
                content: "";
                width: 90%;
                margin: 0 auto;
                height: 1px;
                background-color: #8a8a8a;
                top: -30px;
                position: absolute;
            }

            li {
                color: $primary-color;
                margin-bottom: 20px;
                
                @include breakpoint(medium) {
                    margin-bottom: 10px;
                }

                h4 {
                    font-size: 22px;
                    line-height: 1.2em;
                    margin-bottom: .5rem;

                    @include breakpoint(medium) {
                        font-size: 1.1em;
                        line-height: 1em;
                    }
                }
            }
        }

        .service-style {
            box-shadow: 7px 3px 4px #111;
            background-color: white;
            padding: 20px 10px 16px;
            margin-bottom: 40px;
        }

        .parallax-window {
            padding: 75px 0;
        }

        h2 {
            color: white;
            text-shadow: 7px 3px 4px black;
        }

        h4 {
            font-size: 1.6em;
            color: white;
            margin-bottom: 40px;
        }

        .fa {
            color: rgba(255,255,255,0.5);
            font-size: 3.4em;
            color: white;
            transition: all .3s ease-in;
            color: $primary-color;
        }

        h6 {
            color: #111;
            text-shadow: 7px 3px 4px #d4d4d4;
            font-size: 1.2em;
            margin-top: 15px;
            margin-bottom: 5px;
        }

        span {
            color: $primary-color;
            text-decoration: underline;
        }
    }

    .about-tools {
        padding: 100px 0;
        background-image: url('../graphics/about/about-tech.jpg');
        background-size: cover;
        background-position: 50%;
        width: 100%;
        height: 100%;

        h2 {
            margin: 40px 0;
            letter-spacing: 0;
            text-transform: uppercase;
        }

        ul {
            margin: 0;
            padding: 0;
        }

        li {
            display: inline-block;
        }

        .tools-fundamentals {
            text-align: center;

            li {
                margin: 0 20px;
            }
        }

        .did-i-know {
            margin-top: 70px;

            h4 {
                text-align: center;
                font-size: 2em;
                margin-bottom: 20px;
            }

            ul {
                -webkit-column-count: 2; /* Chrome, Safari, Opera */
                -moz-column-count: 2; /* Firefox */
                column-count: 2;
            }

            li {
                display: inherit;
                margin: 0 30px;
            }
        }
    }

    .geolocation {
        position: relative;
        height: 400px; 

        @include breakpoint(medium) {
            height: 600px;
        }

        #map {
            height: 100%;
            width: 100%;
            top: 0;
        }

        .map-cover {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 2;
            cursor: pointer;
        }

        h2 {
            position: absolute;
            top: 20px;
            margin: 0 auto;
            left: 0;
            right: 0;
            text-align: center;
            text-transform: uppercase;
            display: inline-block;
            text-shadow: 7px 3px 4px #d4d4d4;
            z-index: 3;
            font-size: 2.2em;
            text-decoration: underline;

            @include breakpoint(medium) {
                font-size: 4em;
                padding: 20px 60px;
            }
        }
    }

    .instagram-background {
        padding-top: 30px;
        background-size: cover;
        background-position: center bottom;

        @include breakpoint(medium) {
            padding: 60px 0;
        }

      .top-title {
        margin-bottom: 20px;

        @include breakpoint(medium) {
            margin-bottom: 40px;
        }

          h3 {
              display: block;

              &:nth-of-type(1) {
                font-size: 32px;
                text-align: center;

                @include breakpoint(medium) {
                    float: left;
                    text-align: left;
                }
              }

              &:nth-of-type(2) {
                  display: none;

                @include breakpoint(medium) {
                    display: block;
                    text-align: right;
                    vertical-align: top;
                }
              }
          }
      }

        .instagram-section {

            .ttl {
              margin: 0 auto 30px;
              width: 90%;
              overflow: hidden;

              h3, h2 {
                display: inline-block;
                color: black;
              }

              h3 {
                float: left;
                font-size: 29px;
                margin-top: 10px;
                word-spacing: 0.1em;
                text-transform: uppercase;
                letter-spacing: .1em;
                line-height: 1.7;
              }

              h2 {
                float: right;
                margin-top: 10px;

                em {
                  font-size: 1.2em;
                  color: inherit;
                  word-spacing: 0.1em;
                  letter-spacing: .09em;
                }
              }
            }

            .instagram-slide {
              width: 75%;
              margin: 0 auto;

              @include breakpoint(small) {
                width: 90%;
              }

              .slick-arrow {
                position: absolute;
                top: 75px;
                overflow: hidden;
                padding: 0;
                width: 34px;
                border: 0;
                background-color: transparent;
                &:before {
                  font-size: 60px;
                  color: black;
                }
              }

              .slick-arrow:first-of-type {
                left: -23px;

                @include breakpoint(medium) {
                    left: -40px;
                }

                @include breakpoint(large) {
                    left: -55px;
                }
              }

              .slick-arrow:nth-of-type(2) {
                right: -23px;

                @include breakpoint(medium) {
                    right: -40px;
                }

                @include breakpoint(large) {
                    right: -55px;
                }
              }



              .slick-track {
                width: 100%;

                .instagram-img {
                  background-repeat: no-repeat;
                  background-size: cover;
                  background-position: center center;
                  height: 185px;
                  margin: 0 15px;
                }
              }
            }
        }
    }
}