.icon-mail:before { content: '\e800'; }
.icon-github-circled:before { content: '\f09b'; }
.icon-linkedin:before { content: '\f0e1'; }
.icon-facebook:before { content: '\f30c'; }

%icon-defaults {
    display: inline-block;
    font-family: 'Fontello';
    font-style: normal;
    font-weight: normal;
    margin-right: .2em;
    speak: none;
    text-align: center;
    text-decoration: inherit;
    width: 1em;

    // For safety - reset parent styles, that can break glyph codes
    font-variant: normal;
    text-transform: none;

    // fix buttons height, for twitter bootstrap
    line-height: 1em;

    // Animation center compensation - margins should be symmetric
    // remove if not needed
    margin-left: .2em;

    // you can be more comfortable with increased icons size
    // font-size: 120%;

    // Font smoothing. That was taken from TWBS
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    // Uncomment for 3D effect
    // text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}

@mixin icon-facebook() {
    @extend %icon-defaults;
    content: '\f30c';
}

@mixin icon-github() {
    @extend %icon-defaults;
    content: '\f09b';
}

@mixin icon-email() {
    @extend %icon-defaults;
    content: '\e800';
}

@mixin icon-linkedin() {
    @extend %icon-defaults;
    content: '\f0e1';
}