.icon-chevron::before { content: '\F0E0'; }
.icon-facebook::before { content: '\F308'; }
.icon-github::before { content: '\F300'; }
.icon-email::before { content: '\F199'; }
.icon-linkedin::before { content: '\F30C'; }
.icon-instagram::before { content: '\F16D'; }

%icon-defaults {

    // Font smoothing. That was taken from TWBS
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    display: inline-block;
    font-family: 'Fontello';
    font-style: normal;
    font-variant: normal;
    font-weight: normal;

    // fix buttons height, for twitter bootstrap
    line-height: 1em;

    // Animation center compensation - margins should be symmetric
    // remove if not needed
    margin-left: .2em;

    margin-right: .2em;
    speak: none;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
    width: 1em;

    // you can be more comfortable with increased icons size
    // font-size: 120%;

    // Uncomment for 3D effect
    // text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}

@mixin icon-chevron() {
    @extend %icon-defaults;
    content: '\F0E0';
}

@mixin icon-facebook() {
    @extend %icon-defaults;
    content: '\F308';
}

@mixin icon-github() {
    @extend %icon-defaults;
    content: '\F300';
}

@mixin icon-email() {
    @extend %icon-defaults;
    content: '\F199';
}

@mixin icon-linkedin() {
    @extend %icon-defaults;
    content: '\F30C';
}

@mixin icon-instagram() {
    @extend %icon-defaults;
    content: '\F16D';
}

.icon-chevron {

    &::before {
        @include icon-chevron();
    }
}

.icon-linkedin {

    &::before {
        @include icon-linkedin();
    }
}

.icon-github {

    &::before {
        @include icon-github();
    }
}

.icon-email {

    &::before {
        @include icon-email();
    }
}

.icon-facebook {

    &::before {
        @include icon-facebook();
    }
}

.icon-instagram {

    &::before {
        @include icon-instagram();
    }
}
