@font-face {
    font-family: 'LeagueGothic';
    font-weight: 400;
    src: url('../../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../../fonts/leaguegothic-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*@font-face {
    font-family: 'LeagueGothic';
    font-weight: 300;
    font-style: italic;
    src: url('../../fonts/leaguegothic-condenseditalic-webfont.woff2') format('woff2'),
         url('../../fonts/leaguegothic-condenseditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}*/

/*@font-face {
    font-family: 'LeagueGothic';
    font-weight: 300;
    src: url('../../fonts/leaguegothic-condensedregular-webfont.woff2') format('woff2'),
         url('../../fonts/leaguegothic-condensedregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}*/

/*@font-face {
    font-family: 'LeagueGothic';
    font-weight: 400;
    font-style: italic;
    src: url('../../fonts/leaguegothic-italic-webfont.woff2') format('woff2'),
         url('../../fonts/leaguegothic-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}*/