body {
    background-color: $color-black;
    font-family: 'LeagueGothic';
    font-size: 1.4em;
    letter-spacing: .05em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'LeagueGothic';
    letter-spacing: .05em;
    line-height: 1em;
}

h2 {
    font-size: 2.2em;
    text-shadow: none;
    text-transform: uppercase;

    @include breakpoint(medium) {
        font-size: 3.75em;
    }
}

p {
    font-family: 'Lato';
    font-size: 16px;
    letter-spacing: normal;
}

.btn {
    background: transparent;
    border: 1px solid $color-white;
    color: $color-white;
    display: inline-block;
    font-size: 1.2em;
    line-height: 50px;
    overflow: hidden;
    padding: 5px 20px;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 1;

    &:hover {
        color: $color-white;
    }

    &::after {
        background: $color-black;
        color: $color-white;
        content: '';
        height: 1000%;
        left: 0;
        position: absolute;
        top: 0;
        transform: translateY(10%) translateX(16%) rotate(-45deg);
        transform-origin: 0% 0%;
        transition: transform .3s;
        width: 500%;
        z-index: -1;
    }

    &:hover::after {
        transform: translateY(10%) translateX(-25px) rotate(-45deg);
    }
}

.btn-inverse {
    border: 1px solid #cacaca;
    color: $color-black;
    margin: 40px auto;
    max-width: 250px;

    @include breakpoint(medium) {
        width: 250px;
    }

    &::after {
        background: $color-black;
    }
}

.parallax-content {
    height: 300px;
    padding-top: 150px;
    text-align: center;

    @include breakpoint(medium) {
        height: 500px;
        padding-top: 220px;
    }

    h2 {
        background-color: $color-black;
        color: $color-white;
        display: inline-block;
        margin: 0 auto;
        padding: .5% 3.1% .6%;
        text-shadow: 0 3px 10px rgba(0, 0, 0, .2);
    }
}

.breadcrumbs {
    display: none;

    @include breakpoint(medium) {
        display: block;
        float: right;
    }

    li {
        font-size: 1em;
    }
}

.header {
    background-color: $color-black;
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 1;

    @include breakpoint(medium) {
        background-color: transparent;
        height: 73px;
        position: fixed;
        top: 0;
        width: 100%;
    }
}

.footer {
    background-color: $color-black;
    padding: 20px 0 7px;

    .footer-logo {
        display: none;

        @include breakpoint(small) {
            height: 120px;
            width: 100%;
        }

        @include breakpoint(medium) {
            display: block;
            height: 120px;
            width: 100%;
        }

        @include breakpoint(large) {
            width: 325px;
        }
    }

    .footer-navigation {
        margin-bottom: 25px;
        text-align: center;

        @include breakpoint(medium) {
            margin-bottom: 0;
            max-width: 190px;
            text-align: inherit;
        }

        @include breakpoint(large) {
            float: right;
            max-width: inherit;
        }

        ul {
            margin: 0;

            @include breakpoint(medium) {
                column-count: 2;
            }

            @include breakpoint(large) {
                column-width: 120px;
                left: 50px;
                position: relative;
            }

        }

        li {
            list-style: none;
            text-decoration: none;
        }

        a {
            color: $color-white;
            transition: .2s ease-in;

            &:hover,
            &:focus {
                color: $primary-color;
            }
        }
    }

    .footer-contact {

        .fa-facebook {

            &::before {
                @include icon-facebook();
            }
        }

        @include breakpoint(medium) {
            float: right;
            min-width: 185px;
        }

        ul {
            margin: 0 0 25px;
            text-align: center;

            @include breakpoint(medium) {
                margin-bottom: 1rem;
                margin-left: 1.25rem;
                text-align: inherit;
            }
        }

        li {
            display: inline-block;
            margin-right: 15px;
        }

        i {
            color: $color-white;
            transition: .2s ease-in;

            &:hover,
            &:focus {
                color: $primary-color;
            }
        }
    }

    .footer-copyright {
        border-top: 1px solid $color-white;
        color: $color-white;
        margin-top: 15px;
        padding-top: 10px;
        text-align: center;

        p {
            color: $color-white;
            font-family: 'LeagueGothic';
            font-size: 16px;
            margin: 0;

            @include breakpoint(medium) {
                display: inline-block;
                vertical-align: top;
            }
        }
    }
}

#to-top {
    background-color: rgba(0, 0, 0, .298039);
    border: 0;
    border-radius: 5px;
    bottom: -100px;
    color: rgb(255, 255, 255);
    display: none;
    font-size: 32px;
    margin: 20px;
    padding: 10px 10px 15px;
    position: fixed;
    right: 0;
    text-transform: none;
    transition: .4s ease-in-out;
    z-index: 999;

    @include breakpoint(medium) {
        padding: 20px 20px 25px;
    }

    .fa {
        color: $color-white;
        display: block;
        font-size: 16px;
    }

    &.in {
        bottom: 0;
    }
}

.parallax-mirror {
    z-index: 1 !important;
}
