body {
    font-family: 'LeagueGothic';
    font-size: 1.4em;
    letter-spacing: .05em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'LeagueGothic';
    letter-spacing: .05em;
    line-height: 1em;
}


h2 {
    font-size: 2.2em;
    text-shadow: none;
    text-transform: uppercase;

    @include breakpoint(medium) {
        font-size: 3.75em;
    }
}


a {
    color: $primary-color;
}

p {
    font-family: 'Lato';
    font-size: 16px;
    letter-spacing: normal;
}

.btn {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
    font-size: 1.2em;
    line-height: 50px;
    overflow: hidden;
    padding: 5px 20px;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 1;

    &:hover {
        color: #fff;
    }

    &:after {
        background: $primary-color;
        color: #fff;
        content: '';
        height: 1000%;
        left: 0;
        position: absolute;
        top: 0;
        transform: translateY(10%) translateX(16%) rotate(-45deg);
        transform-origin: 0% 0%;
        transition: transform .3s;
        width: 500%;
        z-index: -1;
    }

    &:hover:after {
        transform: translateY(10%) translateX(-25px) rotate(-45deg);
    }
}

.btn-inverse {
    border: 1px solid #cacaca;
    color: #111;
    margin: 40px auto;
    max-width: 250px;

    @include breakpoint(medium) {
        width: 250px;
    }

    &:after {
        background: $primary-color;
    }
}

.parallax-content {
    height: 300px;
    padding-top: 150px;
    text-align: center;

    @include breakpoint(medium) {
        height: 500px;
        padding-top: 220px;
    }

    .subpage-about & {
        height: 300px;
        padding-top: 60px;

        @include breakpoint(medium) {
            height: 700px;
            padding-top: 150px;
        }

        @include breakpoint(large) {
            padding-top: 200px;
        }
    }

    h2 {
        background-color: #07a1f2;
        color: #fff;
        display: inline-block;
        margin: 0 auto;
        padding: .5% 3.1% .6%;
        text-shadow: 0 3px 10px rgba(0, 0, 0, .2);

        .subpage-about & {
            background: inherit;
            color: #fff;
            display: block;
            padding: inherit;
            text-shadow: 0 15px 200px #0c0c0c;
        }
    }

    p {
        color: #fff;
        font-family: 'Lato';
        line-height: 18px;

        .subpage-about & {
            line-height: 22px;
            margin: 0 auto;
            width: 90%;

            @include breakpoint(medium) {
                width: 100%;
            }
        }
    }

}

.breadcrumbs {
    display: none;

    @include breakpoint(medium) {
        display: block;
        float: right;
    }

    .subpage-about & {
        float: left;
    }

    li {
        font-size: 1em;
    }
}

.header {
    background-color: #111;
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 2;

    @include breakpoint(large) {
        background-color: #111;
        height: 73px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 99;
    }

    .logo {
        float: left;
        padding-top: 10px;
        width: 120px;

        @include breakpoint(large) {
            padding: inherit;
            width: 365px;
        }

        .mobile-logo {
            display: block;

            @include breakpoint(large) {
                display: none;
            }
        }

        .desktop-logo {
            display: none;

            @include breakpoint(large) {
                display: block;
                height: 80px;
            }
        }
    }

    #desktop-menu {
        display: none;

        @include breakpoint(large) {
           display: inline-block;
           float: right;
           vertical-align: top;

            ul {
                float: right;
                line-height: 73px;
                margin: 0;
                padding: 0;

                li {
                    display: inline-block;

                    &:nth-last-child(1) {
                        padding-right: 0;
                    }

                    &:nth-last-child(1) a:hover:after {
                        opacity: 0;
                    }
                }

                a {
                    color: #fff;
                    padding: 23px 1.58rem;
                    position: relative;
                    transition: .2s ease-in;

                    &:after {
                        border-bottom: 2px solid #000;
                        bottom: 18px;
                        content: '';
                        left: 0;
                        margin: 0 auto;
                        opacity: 0;
                        position: absolute;
                        right: 0;
                        transition: .25s ease-in;
                        width: 50%;
                    }

                    &:hover {
                        color: $primary-color;

                        &:after {
                            border-bottom: 3px solid $primary-color;
                            bottom: 15px;
                            opacity: 1;
                            width: 50%;
                        }
                    }
                }

                .menu-active {
                    color: $primary-color;

                    &:after {
                        border-bottom: 3px solid $primary-color;
                        bottom: 15px;
                        opacity: 1;
                        width: 50%;
                    }
                }
            }
        }
    }
}

.main-content {

    @include breakpoint(medium) {
        min-height: 700px;
    }

    .content-padding {
        padding-top: 90px;
    }
}

.footer {
    background-color: #111;
    margin-top: 60px;
    padding: 20px 0 7px;

    .footer-logo {
        display: none;

        @include breakpoint(small) {
            height: 120px;
            width: 100%;
        }

        @include breakpoint(medium) {
            display: block;
            height: 120px;
            width: 100%;
        }

        @include breakpoint(large) {
            width: 325px;
        }
    }

    .footer-navigation {
        margin-bottom: 25px;
        text-align: center;

        @include breakpoint(medium) {
            margin-bottom: 0;
            max-width: 190px;
            text-align: inherit;
        }

        @include breakpoint(large) {
            float: right;
            max-width: inherit;
        }

        ul {
            margin: 0;

            @include breakpoint(medium) {
                column-count: 2;
            }

            @include breakpoint(large) {
                column-width: 120px;
                left: 50px;
                position: relative;
            }

        }

        li {
            list-style: none;
            text-decoration: none;
        }

        a {
            color: #fff;
            transition: .2s ease-in;

            &:hover,
            &:focus {
                color: $primary-color;
            }
        }
    }

    .footer-contact {

        .fa-facebook {

            &::before {
                @include icon-facebook();
            }
        }

        @include breakpoint(medium) {
            float: right;
            min-width: 185px;
        }

        ul {
            margin: 0 0 25px;
            text-align: center;

            @include breakpoint(medium) {
                margin-bottom: 1rem;
                margin-left: 1.25rem;
                text-align: inherit;
            }
        }

        li {
            display: inline-block;
            margin-right: 15px;
        }

        i {
            color: #fff;
            transition: .2s ease-in;

            &:hover,
            &:focus {
                color: $primary-color;
            }
        }
    }

    .footer-copyright {
        border-top: 1px solid #fff;
        color: #fff;
        margin-top: 15px;
        padding-top: 10px;
        text-align: center;

        @include breakpoint(medium) {
            text-align: inherit;
        }

        p {
            color: #fff;
            font-size: 16px;
            margin: 0;

            @include breakpoint(medium) {
                display: inline-block;
                vertical-align: top;
            }
        }

        .author {

            @include breakpoint(medium) {
                float: right;
            }

            span {
                color: $primary-color;
            }
        }
    }
}

#to-top {
    background-color: rgba(0, 0, 0, .298039);
    border: 0;
    border-radius: 5px;
    bottom: -100px;
    color: rgb(255, 255, 255);
    display: none;
    font-size: 32px;
    margin: 20px;
    padding: 10px 10px 15px;
    position: fixed;
    right: 0;
    text-transform: none;
    transition: .4s ease-in-out;
    z-index: 999;

    @include breakpoint(medium) {
        padding: 20px 20px 25px;
    }

    .fa {
        color: #fff;
        display: block;
        font-size: 16px;
    }

    &.in {
        bottom: 0;
    }
}

.conact-partial {
    padding-top: 80px;
    text-align: center;

    h3 {
        font-size: 2em;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    p {
        margin: 0 auto;
        width: 85%;
    }

    .btn {
        margin: 0 auto;
        margin-top: 30px;
    }
}
