.header__hamburger {
    cursor: pointer;
    display: block;
    height: 35px;
    position: absolute;
    right: 10px;
    top: 18px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    width: 35px;
    z-index: 10;

    span {
        background: $color-white;
        border-radius: 9px;
        display: block;
        height: 5px;
        left: 0;
        opacity: 1;
        position: absolute;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
        width: 100%;

        &:nth-child(1) {
            top: 0;
            transform-origin: left center;
        }

        &:nth-child(2) {
            top: 9px;
            transform-origin: left center;
        }

        &:nth-child(3) {
            top: 18px;
            transform-origin: left center;
        }
    }

    &.is-active {

        span:nth-child(1) {
            left: 8px;
            top: 0;
            transform: rotate(45deg);
        }

        span:nth-child(2) {
            opacity: 0;
            width: 0%;
        }

        span:nth-child(3) {
            left: 8px;
            top: 25px;
            transform: rotate(-45deg);
        }
    }
}