@mixin font-face($font-name, $font-path, $font-file) {
    @font-face {
        font-family: '#{$font-name}';
        src: url('#{$font-path}/#{$font-file}?#iefix') format('embedded-opentype'),
             url('#{$font-path}/#{$font-file}.woff') format('woff'),
             url('#{$font-path}/#{$font-file}.ttf') format('truetype'),
             url('#{$font-path}/#{$font-file}.svg##{$font-name}') format('svg');
    }
}

@mixin content-deck-contact() {
    color: $color-white;
    text-align: center;

    .parallax-window {
        padding: 100px 0 120px;
    }

    h3 {
        font-size: 2em;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    p {
        margin: 0 auto;
        width: 85%;
    }

    .btn {
        margin: 0 auto;
        margin-top: 30px;
    }
}

@mixin content-deck-blog() {
    background-color: #f6f6f6;

    .blog {

        &__headline {
            color: $color-white;
            font-size: 2.5em;
            letter-spacing: 0;
            margin-bottom: 40px;
            padding-top: 40px;
            text-align: center;
            text-transform: uppercase;

            @include breakpoint(medium) {
                font-size: 3.75em;
            }
        }

        &__subhead {
            text-align: center;
        }

        &__item {
            background-color: $color-white;
            letter-spacing: .09em;
            margin-bottom: 20px;
            padding: 10px 5px;
            position: relative;
            text-align: center;
            text-transform: uppercase;
            transition: .3s ease-in;

            @include breakpoint(medium) {
                padding: 3px;
            }

            &:hover {
                background-color: $primary-color;
            }
        }

        &__content {
            background-position: bottom center;
            background-size: cover;
            height: 255px;
            position: relative;

            &:before {
                background-color: rgba(0, 0, 0, .8);
                content: '';
                height: 100%;
                left: 0;
                position: absolute;
                transition: .5s ease-in;
                width: 100%;
            }

            &:hover:before {
                background-color: rgba(0, 0, 0, .34);
            }

            h3 {
                bottom: 75px;
                color: $color-white;
                font-size: 30px;
                font-weight: normal;
                left: 0;
                margin: 7px;
                opacity: 1;
                padding: 0 15%;
                position: absolute;
                transition: bottom 300ms linear, opacity 100ms ease-in;
                width: 100%;
            }
        }

        &__link {
            bottom: 30px;
            font-family: $font-primary-display;
            font-size: 24px;
            left: 0;
            margin: 0;
            position: absolute;
            width: 100%;

            a {
                display: block;
                font-size: 13px;
                font-weight: bold;
            }
        }
    }

    .btn-inverse {
        background-color: $color-white;
        display: block;
        margin: 40px auto;
        width: 250px;

        @include breakpoint(medium) {
            margin-top: 40px;
        }
    }
}