body {
    position: relative;
}

header {
    left: 0;
    position: fixed;
    right: 0;
    z-index: 999;

    &::before {
        background-color: $homepage-color;
        content: '';
        display: block;
        height: 5px;
        position: absolute;
        transition: .3s ease;
        width: 100%;
    }
}

ul {
    list-style: none;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-primary-display;
    margin: 0;
    text-transform: uppercase;
}

.logo {
    color: $color-white;
    font-family: $font-primary-display;
    font-size: calc(18px + .5vw);
    text-transform: uppercase;

    .page-contact &,
    .page-blog & {
        color: $color-black;
    }
}

.main-navigation {
    background-color: $homepage-color;
    color: $color-white;
    position: fixed;
    text-align: center;
    transform: translate(-100%);
    transition: .5s ease-out;
    width: 100vw;
    z-index: 1;

    &__link {
        font-family: $font-primary-display;
        text-transform: uppercase;

        li {
            line-height: 4vw;
        }

        a {
            font-size: 6vw;
        }
    }

    &__contact {

    }

    &__social {

    }

    a {
        color: inherit;
        transition: .3s ease;

        &:hover {
            color: orange;
        }
    }
}

.hamburger {
    cursor: pointer;
    height: 58px;
    position: relative;
    width: 64px;

    .hamburger__inner {
        height: 18px;
        left: 50%;
        margin-left: -12px;
        margin-top: -9px;
        position: absolute;
        top: 50%;
        width: 24px;

        &:hover {

            .hamburger__line--one {
                top: -3px;
            }

            .hamburger__line--three {
                top: 15px;
            }
        }
    }

    .hamburger__line {
        background-color: $color-white;
        height: 3px;
        position: absolute;
        transform: rotate(0deg);
        transition: ease .3s;
        width: 100%;

        .page-contact &,
        .page-blog & {
            background-color: $color-black;
        }

        &.hamburger__line--one {
            top: 0;
        }

        &.hamburger__line--two {
            top: 6px;
        }

        &.hamburger__line--three {
            top: 12px;
        }
    }
}

