.navOpen {
    overflow: hidden;
}

.wrapper {
    height: 100%;
    position: relative;
    transition-duration: .5s;
    transition-timing-function: swing;
    width: 100%;
    z-index: 22;

    &.open {
        transform: translateX(250px) translateY(50px);
        z-index: 99;
    }
}

.openNav {
    background-color: $color-white;
    height: 50px;
    left: 20px;
    position: fixed;
    top: 20px;
    transition-duration: .5s;
    transition-timing-function: swing;
    width: 50px;
    z-index: 9999;

    &:hover {
        cursor: pointer;
    }

    .icon {
        background-color: $color-black;
        height: 2px;
        left: 10px;
        position: absolute;
        top: 24px;
        transition-duration: .2s;
        width: 30px;

        &::before,
        &::after {
            background-color: $color-black;
            content: '';
            height: 2px;
            left: 0;
            position: absolute;
            transition-duration: .5s;
            width: 30px;
        }

        &::before {
            top: -7px;
        }

        &::after {
            top: 7px;
        }
    }

    &.open {
        transform: translateX(250px) translateY(50px);

        .icon {
            background-color: transparent;

            &:before,
            &:after {
                top: 0;
            }

            &:before {
                transform: rotate(-45deg);
            }

            &:after {
                transform: rotate(45deg);
            }
        }
    }
}

nav {
    background-color: $color-black;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;

    &.open {
        display: block;
    }

    ul {
        margin-top: 50px;
        width: 250px;

    &:hover {

        li {
            color: fade($color-white, 50%);
        }
    }

    li {
        color: $color-white;
        display: block;
        letter-spacing: .02em;
        padding: 5px 40px;
        text-align: right;
        transition-duration: .25s;

            &:hover {
                color: $color-white;
                cursor: pointer;
            }
        }
    }
}