.subpage-newsletter {

    @include breakpoint(medium) {
        text-align: left;
    }

    .main-content {
        text-align: center;
    }

    h4 {
        font-size: 2.4em;
        color: #111;
    }

    p {
        color: #111;
        font-size: 1.4em;
    }

    label {
        font-size: 1.2em;
    }

    .btn.primary {
        color: #111;
        background-color: white;
        border: 1px solid #cacaca;
        transition: all .3s ease;

        &:hover {
            color: white;
            background-color: $primary-color;
        }
    }

    .field-validation-error {
        color: red;
    }
}