.project-preview {

    .project-container {
        display: inline-block;
        width: 100%;


        @include breakpoint(large) {
            width: 33%;
        }
    }

    /* Common style */
    figure {
        position: relative;
        overflow: hidden;
        margin: 10px 1%;
        max-height: 280px;
        /*background: #2199e8;*/
        text-align: center;
        cursor: pointer;
    }

    figure img {
        position: relative;
        display: block;
        min-height: 100%;
        max-width: 100%;
        opacity: 0.8;
    }

    figure figcaption {
        padding: 2em;
        color: #fff;
        text-transform: uppercase;
        font-size: 1.25em;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    figure figcaption::before,
    figure figcaption::after {
        pointer-events: none;
    }

    figure figcaption,
    figure figcaption > a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    /* Anchor will cover the whole item by default */
    /* For some effects it will show as a button */
    figure figcaption > a {
        z-index: 10;
        text-indent: 200%;
        white-space: nowrap;
        font-size: 0;
        opacity: 0;
    }

    figure h2 {
        word-spacing: -0.15em;
        font-weight: 300;
        font-size: 1.75em;
    }

    figure h2 span {
        font-weight: 800;
    }

    figure h2,
    figure p {
        margin: 0;
    }

    figure p {
        line-height: 20px;
    }

    /* Individual effects */

    /*---------------*/
    /***** Lily *****/
    /*---------------*/

    figure.effect-lily img {
        max-width: none;
        width: calc(100%);
        opacity: 0.8;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: translate3d(-40px,0, 0);
        transform: translate3d(0, 10px, 0);
    }

    figure.effect-lily figcaption {
        text-align: left;
    }

    figure.effect-lily figcaption > div {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 1em;
        width: 100%;
        height: 50%;
    }

    figure.effect-lily h2,
    figure.effect-lily p {
        -webkit-transform: translate3d(0,10px,0);
        transform: translate3d(0,10px,0);
    }

    figure.effect-lily h2 {
        -webkit-transition: -webkit-transform 0.35s;
        transition: transform 0.35s;
    }

    figure.effect-lily p {
        color: rgba(255,255,255,0.8);
        opacity: 0;
        -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
        transition: opacity 0.2s, transform 0.35s;
    }

    figure.effect-lily:hover img,
    figure.effect-lily:hover p {
        opacity: 1;
    }

    figure.effect-lily:hover img,
    figure.effect-lily:hover h2,
    figure.effect-lily:hover p {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    figure.effect-lily:hover p {
        -webkit-transition-delay: 0.05s;
        transition-delay: 0.05s;
        -webkit-transition-duration: 0.35s;
        transition-duration: 0.35s;
    }
}

.subpage-portfolio {

    .project-header {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 15px;
        border-bottom: 2px solid #efefef;
        text-align: center;

        @include breakpoint(medium) {
            width: 100%;
            border-left: 5px solid $primary-color;
            padding-left: 15px;
            text-align: left;
            border-bottom: inherit;
            margin-bottom: 30px;
        }

        span {
            color: $primary-color;
        }
    }

    .project-body {
        margin-bottom: 20px;

        ul {
            column-count: 2;    
            
            li {
                color: #555;
            }        
        }

        .disclaimer {
            position: relative;
            margin: 35px 0;

            &:after {
                content: "";
                position: absolute;
                width: 50%;
                background-color: #dcdcdc;
                height: 1px;
                margin: 0 auto;
                left: 0;
                right: 0;
            }

            a {
                text-decoration: underline;
                font-weight: bold; 
            }
        }

        p {
            font-size: 18px;
            color: #555;
        }

        h6 {
            font-size: 1.5625rem;
            margin-top: 30px;
            margin-bottom: .5rem;
        }

        h5 {
            font-size: 1.25em;

            @include breakpoint(medium) {
                font-size: 1.25rem;
            }
        }
    }



    .project-slideshow {
        margin-top: 30px;

        @include breakpoint(medium) {
            margin-top: 65px;
        }

        .slick-dots {
            bottom: 0;
            background: rgba(0, 0, 0, 0.46);
            height: 50px;
        }
    }

    .fancybox {
        max-height: 600px;
        overflow: hidden;
        display: block;
    }

    .slide-masthead {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .slick-track {
        height: 100%;
    }

    .slick-list {
        height: 100% !important;
    }

    /* OVerides Slickjs*/
    .slick-prev,
    .slick-next {
        font-size: 0;
        position: absolute;
        bottom: 20px;
        color: #52504e;
        border: 0;
        background: none;
        background-color: rgba(253, 250, 246, .65);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 32%;
        height: 4.125rem;
        margin-top: -2.5625rem;
        width: 2rem;
        z-index: 1;
        bottom: 45%;

        @include breakpoint(medium) {
            width: 3.8125rem;
            height: 5.125rem;
        }
    }

    .slick-prev:after {
        content: "\f104";
        font: 40px/1 'FontAwesome';
    }

    .slick-next:after {
           content: "\f105";
         font: 40px/1 'FontAwesome';
    }

    .related-projects {
        margin-top: 40px;
        
        h3 {
            font-size: 1.4em;
            text-align: center;

            @include breakpoint(medium) {
                text-align: left;
                font-size: 1.6em;
            }
        }
    }

    .project-intro {
        position: relative;
        padding-bottom: 60px;

        &:after {
            content: "";
            position: absolute;
            border-bottom: 1px solid #dcdcdc;
            width: 30%;
            margin: 0 auto;
            bottom: 0;
            left: 0;
            right: 0;
        }

        h4 {
            font-size: 1.4em;

            @include breakpoint(medium) {
                font-size: 2.2em;
            }
        }
    }
}