%content-deck-blog {
    background-color: $color-primary-gray;

    .blog {

        &__image {
            width: 210px;
            height: 200px;
        }

        &__content {

            h3 {

            }

            h4 {
                color: $color-black;
            }

            p {

            }
        }
    }
}

.page-homepage {

    .content-deck-1 {
        //
    }

    .content-deck-2 {
        //
    }

    .content-deck-3 {
        @extend %content-deck-blog;
    }

    .content-deck-4 {
        //
    }
}

.page-blog {

    .content-deck-1 {
        //
    }

    .content-deck-2 {
        //
    }

    .content-deck-3 {
        //
    }
}

.page-contact {

    .content-deck-1 {
        //
    }

    .content-deck-2 {
        //
    }

    .content-deck-3 {
        //
    }
}

.page-red-ventures {

    .content-deck-1 {
        //
    }

    .content-deck-2 {
        @extend %content-deck-blog;
    }

    .content-deck-3 {
        //
    }

    .content-deck-4 {
        //
    }
}

.page-efelle-creative {

    .content-deck-1 {
        //
    }

    .content-deck-2 {
        //
    }

    .content-deck-3 {
        //
    }

    .content-deck-4 {
        @extend %content-deck-blog;
    }

    .content-deck-5 {
        //
    }
}