.contact-content {

    .field-validation-error {
        color: red;
    }

    #contour_form_b683e77aa2bf40d9bf855c4cb5a7b217 {
        position: relative;

        @include breakpoint(medium) {
            width: 75%;
            margin: 0 auto;
        }

        @include breakpoint(large) {
            width: 80%;
            margin: 0 auto;
            margin-left: 0;
        }

        &:after {

            @include breakpoint(large) {
                content: "";
                width: 2px;
                height: 100%;
                position: absolute;
                border-right: 1px solid #dddbd7;
                right: -100px;
                top: 0;
            }

        }

        h4 {
            margin-bottom: 0;
            color: $primary-color;
            font-size: 2.5rem;
        }

        legend {
            font-family: 'Lato';
            font-size: 16px;
            letter-spacing: normal;
            border-bottom: 2px solid $primary-color;
            padding-bottom: 15px;
            line-height: 16px;
            width: 100%;
        }

        label {
            font-size: 1.5625rem;
        }

        .primary {
            @extend .btn;
            color: black;
            border: 1px solid #cacaca;
            background-color: white;
            transition: all .3s ease-in;

            &:hover {
                color: white;
                background-color: $primary-color;
            }
        }

        textarea {
            height: 150px;
        }
    }

    .contact-sidebar {
        text-align: center;
        margin-top: 40px;

        @include breakpoint(medium) {
            width: 75%;
            margin: 0 auto;
            margin-top: 40px;
        }

        @include breakpoint(large) {
            text-align: inherit;
            margin: inherit;
        }

        h2 {
            color: $primary-color;
            margin-bottom: 0;
            font-size: 2.5rem;
        }

        > p {
            border-bottom: 2px solid $primary-color;
            padding-bottom: 15px;
            line-height: 16px;
        }


        ul {
            margin: 0;

            h4 {
                margin-bottom: 0;
                color: #111;
            }

            li {
                list-style: none;
                margin-bottom: 25px;
            }

            a {
                color: $primary-color;
                border: 1px solid $primary-color;

                &:after {
                    background: $primary-color;
                }

                &:hover {
                    color: white;
                }
            }
        }
    }
}


