{{ define "main" }}

<section class="about-image-mobile" style="background: url('/images/about/about-profile-image.jpg'); background-size: cover; background-position: 40%;">
    <div class="parallax-content">
        <h6>
            Web Developer<br />
            Adventurer
        </h6>
    </div>
</section>

<section id="about-image" class="about-image">
    <div class="parallax-wrapper">
        <span data-bg="/images/about/about-profile-image.jpg" class="hidden"></span>
        <div class="parallax-window" data-parallax="scroll" data-ios-fix="true" data-android-fix="true">
            <div class="parallax-content">

            </div>
        </div>
    </div>
</section>

<section class="about-intro">
    <div class="row">
        <div class="parallax-content">
            <div class="intro-container">
                <h2>
                    Web <br />
                    Developer.
                    <br />
                    Adventurer
                </h2>
                <p>
                    I'm a Remote Front End Developer who enjoys presenting data in a simple, yet intuitive way as well as solving complex problems. I enjoy the freedom of working anywhere while being able to do something I love.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="about-experience">
    <div class="row">

        <div class="small-12 columns">
            {{ partial "breadcrumbs" . }}
        </div>

        <div class="small-12 medium-12 large-6 end columns">
            <h6>History</h6>
            <p>
                Mygel's passion for backpacking started when he left rural life in North Carolina and travel to Seattle in order to pursue his dreams of creating websites and applications. During the two week drive across the country, it became evident that the nomadic life was the calling he had been missing.
            </p>

            <h6>Experience</h6>
            <p>
                During college, Mygel became interested in web development after fixing electronics for the past 5 years for his local community. The ability to create and innovate ideas instead of maintaining machines is a mindset he had always wanted. Being self-taught and motivated he learn to program by reading books, articles, and subscribing to online classes. A year later he moved to Seattle and was hired on to one of the largest award winning web agencies on the west coast shortly after he had arrived.
            </p>
            <a class="btn btn-resume" href="~/media/Mygel-Bergstresser-resume.pdf" target="_blank">Download Resume</a>
            <a class="btn btn-resume" href="https://github.com/legym" target="_blank">Github</a>
        </div>
    </div>
</section>

<section id="experience" class="about-process">
    <div class="parallax-wrapper">
        <span data-bg="/images/about/paper-texture.jpg" class="hidden"></span>
        <div class="parallax-window" data-parallax="scroll" data-ios-fix="true" data-android-fix="true">
            <div class="row">
                <div class="small-12 columns">
                    <h2>SKILLS & EXPERTISE</h2>
                    <h4>Understanding the Core concepts before anything else is vital.</h4>
                </div>

                <div class="large-4 columns">
                    <div class="service-style height">
                        <i class="fa fa-html5" aria-hidden="true"></i>
                        <h6>HTML5</h6>
                    </div>
                </div>

                <div class="large-4 columns">
                    <div class="service-style height">
                        <i class="fa fa-css3" aria-hidden="true"></i>
                        <h6>JavaScript</h6>
                    </div>
                </div>

                <div class="large-4 columns">
                    <div class="service-style height">
                        <i class="fa fa-code" aria-hidden="true"></i>
                        <h6>CSS3</h6>
                    </div>
                </div>

                <div class="large-10 large-offset-1 end columns">
                    <ul class="qualifications">
                        <li>
                            <h4>
                                Experience with creating and consuming <span>RESTful APIs</span>, Task runners like <span>Grunt/NPM</span>, <span>Sass/Less</span>, and version control such as <span>Git</span> & <span>SVN.</span>
                            </h4>
                        </li>
                        <li>
                            <h4>
                                Ability to make websites <span>W3C Compliant</span>, <span>ADA Compliant</span>, and checks to make sure the site has <span>Cross Browser support</span>
                            </h4>
                        </li>
                        <li>
                            <h4>
                                Building applications and websites using <span>JQuery</span>, <span>Javascript</span>, and use technologies such as <span>ReactJs</span>
                            </h4>
                        </li>
                        <li>
                            <h4>
                                Designs websites to be <span>Responsive</span>, <span>Mobile</span>, and <span>SEO</span> friendly
                            </h4>
                        </li>
                        <li>
                            <h4>
                                Ability to prototype UI concepts via wireframes or mockups using <span>Adobe Photoshop </span> and <span>Adobe Illustrator.</span>
                            </h4>
                        </li>
                        <li>
                            <h4>
                                Has experience with <span>PHP</span> and <span>ASP.NET</span>
                            </h4>
                        </li>
                        <li>
                            <h4>
                                ....and plenty other things like <span>IIS7/apache, MYSQL/SQL Server, SQL, </span> etc.
                            </h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="geolocation">
    <div class="map-cover"></div>
    <div class="row">
        <div class="small-12 columns">
            <h2>Where Am I this week?</h2>
        </div>
    </div>
    <div id="map"></div>
</section>

<section class="content-padding instagram-background">
    <div class="row">
        <div class="small-12 columns">

            <div class="top-title">
                <h3>Follow me on my adventures!</h3>
                <h3>#Traveling</h3>
            </div>

            <div class="instagram-section">
                <div class="instagram-slide"></div>
            </div>

        </div>
    </div>
</section>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwJcg6U7SKK_d1dBkFqXOBntzeHtbxdDI&callback=initMap">
</script>

<script>
    function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 6,
            mapTypeControl: false,
            center: { lat: 35.450204, lng: -80.2654087 }
        });

        var image = 'https://mygelb.com/graphics/marker.png';
        var beachMarker = new google.maps.Marker({
            position: { lat: 35.450204, lng: -80.2654087 },
            map: map,
            icon: image
        });
    }
</script>

{{ end }}