{{ define "main" }}

<section id="blog-overview-image" class="about-image">
    <div class="parallax-wrapper">
        <span data-bg="/images/blog/blog-hero.jpg" class="hidden"></span>
        <div class="parallax-window" data-parallax="scroll" data-ios-fix="true" data-android-fix="true">
            <div class="row">
                <div class="parallax-content">
                    <h2>Blog</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blog-content content-padding">
    <div class="row">
        <div class="small-12 columns">
            {{ partial "breadcrumbs" . }}
        </div>

        <!-- Desktop Sidebar -->
        <div class="medium-3 columns">
            {{ partial "blog-sidebar" . }}
        </div>

        <div class="large-9 columns blog-main-content">
            <div class="postList">
                {{ range .Data.Pages }}
                    <div class="post">
                        <div class="post-image">
                            <a href="{{ .Permalink }}"><img src="{{ .Params.image }}"></a>
                            <span>Aug 23</span>
                        </div>
                        <div class="post-metadata">
                            <h3>
                                <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
                            </h3>
                            <p>This website was originally built to start a career as a web developer. Many redesigns later it turned into a web portfolio, but with one page dedicated to express my observations. Social media is an echo chamber of: memes, motivational quotes...</p>
                        </div>
                    </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>

{{ end }}
