{{ define "main" }}

<section class="contact-intro">
    <div class="parallax-wrapper">
        <span data-bg="/images/contact/contact-header.jpg" class="hidden"></span>
        <div class="parallax-window" data-parallax="scroll" data-ios-fix="true" data-android-fix="true">
            <div class="row">
                <div class="parallax-content">
                    <h2>Contact</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content-padding contact-content">
    <div class="row">

        <div class="small-12 columns">
            {{ partial "breadcrumbs" . }}
        </div>

        <div class="small-12 large-8 columns">
            <form method="POST" action="http://formspree.io/mygelbergstresser@gmail.com">
                <h4>REACH OUT</h4>
                <p>Have questions or comments? I look forward to hearing from you!</p>

                <label>Name *</label>
                <input type="name" name="name" placeholder="Name">

                <label>Email *</label>
                <input type="email" name="email" placeholder="Your email">

                <label>Message *</label>
                <textarea name="message" placeholder="Your message"></textarea>
                <button class="btn primary" type="submit">Send</button>
            </form>
        </div>

        <div class="large-4 columns">
            <div class="contact-sidebar">
                <h2>Contact Info</h2>
                <p>Other ways to contact us below!</p>

                <ul>
                    <li>
                        <h4>EMAIL</h4>
                        <p>MygelBergstresser@gmail.com</p>
                    </li>
                    <li>
                        <h4>PHONE</h4>
                        <p>704-223-3694</p>
                    </li>
                    <li>
                        <h4>HOURS OF OPERATION</h4>
                        <p>
                            Until the job is done, but I try to be off on the weekends.
                        </p>
                    </li>
                    <li>
                        <a class="btn" href="~/media/Mygel-Bergstresser-resume.pdf">Download Resume</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

{{ end }}