{{ define "main" }}

<section class="hero hero-experience">
    <div class="parallax-content" data-parallax="scroll" data-image-src="/images/contact/contact-header.jpg">
        <div class="row">
            <h2>Experience</h2>
        </div>
    </div>
</section>

<section class="content-deck content-deck-1">

</section>

<section class="content-deck content-deck-2">
    {{ partial "blog" . }}
</section>

<section class="content-deck content-deck-3">
	{{ partial "contact" . }}
</section>

{{ end }}