{{ define "main" }}

<section class="hero hero-experience">
    <div class="parallax-wrapper">
        <div class="parallax-window" data-parallax="scroll" data-image-src="/images/contact/contact-header.jpg">
            <div class="row">
                <div class="parallax-content">
                    <h2>Experience</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content-deck-1">

	<div class="row column">
        {{ partial "breadcrumbs" . }}
	</div>

	<div class="row column">
		<div class="">
			<h2>Skills</h2>
			<ul>
				<li>CSS Pre- and Post-processing (Sass, Less)</li>
				<li>Javascript Bundling & Transpiling (Babel, Gulp, Webpack)</li>
				<li>CSS Frameworks (Foundation, Bootstrap, Bourbon)</li>
				<li>Single Page Applications (React, Vue)</li>
				<li>Configuring virtual machines (Docker, VMware)</li>
				<li>Experience with versioning (Git, SVN)</li>
			</ul>
		</div>

		<div class="">
			<h2>Red Ventures, Charlotte NC | Front End Developer</h2>
			<p>Updated, maintained, and intergrated new features for our partners website Verizon Fios. Closely work with other VZ developers and data analysis to improve click response rate and implement features based on the Verizon guidelines.</p>
			<ul>
				<li>Contributing to documentation throughout multiple departments. (technical specification)</li>
				<li>Heavy focus in building ADA compliant sites for our partners.</li>
				<li>Working with API’s to communicate with other tech platforms.</li>
				<li>Configured apache to host git branches as subdomains in Docker. Implemented throughout multiple teams.</li>
				<li>Built large scale features such as address checking and the ability to display offers/promotions based on address.</li>
				<li>Closely work with data analysis to improve response rate and drive converstions to our call center with split testing. </li>
				<li>Worked with multiple developers on the same repo. Used JIRA for project management and Git for version control.</li>
			</ul>
		</div>

		<div class="">
			<h2>Efelle Creative, Seattle WA | Front End Developer</h2>
			<p>Responsible for working on a range of projects, designing appealing websites, and interacting on a daily basis with graphic designers, back-end developers, and marketers.</p>
			<ul>
				<li>Developing and maintaining the front end functionality of websites.</li>
				<li>Writing cross-browser compliant HTML5, CSS & JavaScript.</li>
				<li>Identifying, correcting, and fixing errors in our proprietary CMS.</li>
				<li>Implements third party APIs such as Google Maps, Instagram and Facebook.</li>
				<li>Built websites to meet W3C standards, be ADA compliance, and to be SEO friendly.</li>
				<li>Developed over 250,000$ worth of websites and software applications.</li>
			</ul>
		</div>

		<div class="">
			<h2>Freelance, Remote | Full Stack Developer</h2>
			<ul>
				<li>Responsible for branding, UX/UI, graphic design, front and back end development. (ASP.NET)</li>
				<li>Maintained multiple domains, web hosting, and static sites.</li>
				<li>Created and developed website concepts, wire-frames, and content strategy plans.</li>
				<li>Installed IIS, configuring mySQL databases, and deployed to production servers.</li>
			</ul>

		</div>
	</div>
</section>

<section class="content-deck-2">
	{{ partial "contact" . }}
</section>

{{ end }}