{{ define "main" }}

<section class="portfolio-intro">
    <div class="parallax-wrapper">
        <span data-bg="/images/portfolio/portfolio-hero.jpg" class="hidden"></span>
        <div class="parallax-window" data-parallax="scroll" data-ios-fix="true" data-android-fix="true">
            <div class="row">
                <div class="parallax-content">
                    <h2>Projects</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content-padding project-content project-preview">
    <div class="row">

        <div class="small-12 columns">
            {{ partial "breadcrumbs" . }}
        </div>

        <div class="small-12 columns">
            {{ range .Data.Pages }}
                <div class="project-container height">
                    <figure class="effect-lily">
                        <img src="{{.Params.image}}" alt="{{.Title}}" />
                        <figcaption>
                            <a href="{{.Permalink}}">View more</a>
                        </figcaption>
                    </figure>
                </div>
            {{ end }}
        </div>
    </div>
</section>

{{ end }}