// Absolute Positioning
@mixin abs-pos ($top: auto, $right: auto, $bottom: auto, $left: auto) {
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    position: absolute;
}

$alt-break: 1100px;
$alt-break-min: 1099px;

$slick-font-path: '../fonts/';
$image-path: '../images/fancybox/';

/* Install ZURB Foundation*/
@import 'foundation';
@import 'font-awesome';
@import 'jquery.fancybox';

@import '_partials/slick';
@import '_partials/slick-theme';

@import './node_modules/jquery.mmenu/src/addons/offcanvas/jquery.mmenu.offcanvas';

@import 'jssocials';

/* Custom */
@import '_partials/fonts';
@import '_partials/mixins';
@import '_partials/global';
@import '_partials/hamburger';
@import '_partials/homepage';
@import '_partials/about';
@import '_partials/portfolio';
@import '_partials/blog';
@import '_partials/contact';
@import '_partials/newsletter';
