$headlines: (
  headline-1: (
    font-size: 60px
  ),
  headline-2: (
    font-size: 42px
  ),
  headline-3: (
    font-size: 32px
  ),
  subhead-1: (
    font-size: 20px
  )
);

$body-copy: (
  intro: (
    font-size: 20px
  ),
  body: (
    font-size: 14px
  ),
);

$buttons: (
  caret-primary: (
    font-size: 24px
  ),
  caret-secondary: (
    font-size: 18px
  ),
  primary: (
    font-size: 18px
  ),
  secondary: (
    font-size: 16px
  )
);

$labels: (
  label-1: (
    font-size: 14px
  )
);

$legal: (
  legal: (
    font-size: 10px
  )
);
