
.icon-mail-alt:before { content: '\e800'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-up-open:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */