// Primary Colors
$color-black: #000;
$color-red: #d52b1e;
$color-white: #fff;

// Gray
$color-cool-gray-1: #f6f6f6;
$color-cool-gray-3: #d8dada;
$color-cool-gray-6: #747676;
$color-cool-gray-10: #333;

// Pops of Color
$color-yellow: #ffbc3d;
$color-orange: #ed7000;
$color-green: #00ac3e;
$color-blue: #0088ce;

// Fonts
$font-primary-display: 'nexa-bold';
$font-primary-text: 'nexa-book';
$font-legal: 'Arial', sans-serif;
