{{ define "main" }}

<section class="hero hero-homepage">
    <div class="hero__parallax-window" data-parallax="scroll" data-image-src="/images/homepage/hero-front-end-developer.jpg">
        <div class="grid-container">
            <div class="grid-y" style="height: 100vh">
                <div class="cell auto"></div>
                <div class="cell shrink">
                    <h3>Who we are</h3>
                    <h1>Front-End<br>Developer</h1>
                    <h2>Authentic connections energized by innovation.</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content-deck content-deck-1">
    Intro
</section>

<section class="content-deck content-deck-2">
    Professional Experience
</section>

<section class="content-deck content-deck-3">
    {{ partial "blog" . }}
</section>

<section class="content-deck content-deck-4">
    {{ partial "contact" . }}
</section>

{{ end }}